.DragAndDrop__container{
    height: calc(100% - 5.5em);
    padding: 0.5em;
}

.DragAndDrop__droppable-container{
    background-color: whitesmoke;
    height: 100%;
    display: flex;
}

.DragAndDrop__draggable-item{
    cursor: pointer;
}